@model IList<CategoryModel>

@if (Model.Count > 0)
{
    <ul>
        @foreach (var category in Model)
        {
             <li>
                 <label>
                     <input type="checkbox" name="category" value="@category.Id"/>
                     @category.Name
                 </label>
             </li>
        }
    </ul>
}